.pg-wrapper {
    padding-top: 100px;
    display: flex;
    flex-wrap: nowrap;
    flex-flow: row;
}

.pg-sub-wrapper {
    h1 {
        margin: 0 0 20px;
        font-family: "Google Sans", "Inter", sans-serif;
        font-weight: 700;
        font-style: italic;
        font-size: 3em;
        line-height: 1;
    }
    h2 {
        margin: 0 0 10px;
        font: bold 1.5em "GoogleSans", "Inter", sans-serif;
    }
    h3 {
        font: bold 1em "GoogleSans", "Inter", sans-serif;
    }
    p {
        margin: 0 0 10px;
        font: 1em "Inter", sans-serif;
    }
    display: flex;
    flex-wrap: nowrap;
    flex-flow: column;
}

.pg-sub-wrapper p {
}

.pg-item {
    .left {
        flex:0 0 27%;
        order: 1;
    }
    .right {
        flex:0 0 27%;
        order: 3;
    }
    .main {
        flex:0 0 46%;
        order: 2;
    }
    display: flex;
    width: 100%;
    min-height: 10vh;
}

@media (max-width: 800px), (orientation: portrait) {
    .pg-wrapper {
        padding-top: 70px;
    }
    .pg-item .left,
    .pg-item .right{
        flex: 0 0 10%;
    }
    .pg-item .main{
        flex: 0 0 80%;
    }
}